/* ふーかのぞーん */
/* 参考サイトの一旦max横幅1200pxでやらせてもろてるよ☆ */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}

body {
  background: #9cd3e1;
  font-family: arial;
  margin: 0;
  color: #888
}

.banner {
  background: #61777a;
  line-height: 400px;
  text-align: center;
  color: #fff;
  font-size: 60px;
  height: 400px;
  width: 100%;
}



.header {
  height: 120px;
  color: #282828;
 background-color: #fff;
 text-align: center;
  width: 100%;
}

.logo {
  width: 80px;
  margin: 0;
  line-height: 50px;
  /* float: left; */
}
button{
  font-family: "Nico Moji";
}
.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
}

.content{
  position: relative;
  background: #fff;
  padding: 30px;
  top: -160px;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-items {
  display: flex;
  text-align: center;
  max-width: 100%;
  padding: 50px;
  background-color: #fff;
}

.slide-items img {
max-width: 100%;
padding-left: 15px;
/* border-radius: 50%; */

}

.nav li {
  display: inline-block;
  background-color: #fff;
}

.nav li a {
  display: inline-block;
  padding: 5px 15px;
  color: inherit;
  text-decoration: none;
   font-family: "Nico Moji";
   }

.container {
  max-width: 1200px;
  width: 100%;
}

.container:after {
  clear: both;
  content: "";
  display: table;
}


.zoomIn{
  animation-name:zoomInAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}

@keyframes zoomInAnime{
  from {
  transform: scale(5);
  opacity: 0;
  }

  to {
    transform: scale(1);
  opacity: 1;
  }
}

/* 縮小 */
.zoomOut{
  animation-name:zoomOutAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
}

@keyframes zoomOutAnime{
  from {
  transform: scale(1.2);
  opacity: 0;
  }

  to {
    transform:scale(1);
  opacity: 1;
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
 
.zoomInTrigger,
.zoomOutTrigger{
    opacity: 0;
}






















































































































































/* やすはのぞーん */

* {
  /* border: 1px solid gainsboro; */
  box-sizing: border-box;
  font-family: "Nico Moji";
}


main,
h2 {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* お役立ちサイト */
h2 {
  padding-top: 100px;
  margin: 30px;
  font-size: 1.3em;
  color: rgb(3, 3, 3);
  font-weight: bold;
  text-shadow: 2px 2px 2px gold;
}

.site-container {
  display: flex;
  justify-content: center;
}

.site {
  background-color: white;
}


.site-box {
  width: 30%;
  aspect-ratio: 1/1;
  padding-top: 20px;
  /* margin-top: 10px; */
}

.d.deco{
  background-image: url(./images/dufufufu.png);
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 20px;
}

.k.deco{
  background-image: url(./images/kimiwaka.png);
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 20px;
}
.p.deco{
  background-image: url(./images/paizaa.png);
  background-repeat: no-repeat;
  background-size: 50%;
  padding-top: 20px;
}

.site-box img {
  width: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  position: relative;
  z-index: 1;
  top: 0;
  cursor: pointer;
}

.site-box img.on {
  box-shadow: #61777a 6px 6px;
  top: -3px;


}


/* go to top */
.gtt {
  /* width: 1440px; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rocket {
  height: 50px;
}


.go-to-top {
  width: 20%;
  margin-top: 60px;
  padding: 20px;
  padding-top: 25px;
  cursor: pointer;
  border: white solid 1px;
  border-radius: 200px 200px 0 0;
  width: 200px;
  height: 70px;
  /* position: relative;
    z-index: 1; */
  /* top: -20%;
    left:50% ; */
  /* transform: translate(-50%, 0) 横軸,縦軸; */
  background-color: white;
}

.go-to-top.on {
  color: #282828;
}

#space-color {
  background: rgb(12, 12, 100);
}

#sky-color {
  background: rgb(67, 156, 246);
}

#rocket-color {
  background: rgb(255, 245, 109);
}

/* .go-to-top::before{
    content: " ";
    display: block;
    border: white solid 1px;
    border-radius: 100px 100px 0 0;
    width: 180px;
    height: 80px;
    position: absolute;
    z-index: -1;
    top: -20%;
    left:50% ;
    transform: translate(-50%, 0) /*横軸,縦軸*/
/* background-color: white;
    
     

} */

/* お問い合わせ */
.contact{
  height: 10vh;
  margin: 0 auto;
  padding-top: 20px;
}
.contact-btn {
  padding: 10px 15px;
  width: 25%;
  height: 80%;
  margin: 0px auto;
  /* position: relative;
  z-index: 1; */

}

.contact-btn.on {
  border: 1px solid #888;
  border-radius: 50px;
  background-color: #888;
  color: #ecf0f1;
  padding: 10px 15px;
  cursor: pointer;
  width: 30%;
  margin: 0px auto;
  text-align: center;
}

.contact-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.432);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -2;
  transition: all .5s ease;
}

/* jQuery */
.contact-container.on {
  opacity: 1;
  z-index: 2;
}

.close-btn {
  text-align: end;
  font-size: 1.5em;
  cursor: pointer;
}

.contact-message {
  height: 300px;
  width: 400px;
  background-color: #fff;
  border-radius: 30px;
  padding: 1%;
  padding-bottom: 5%;
  margin: 0 auto;
}

.title {
  padding: 5%;
  padding-bottom: 10%;

}

.contact-message span {
  display: block;
  padding-top: 3%;
}

/* フッター */
footer {
  width: 100%;
  text-align: center;
  position: relative;
  /* z-index: 0; */
  background-color: white;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  margin: 15px;
  font-size: 0.8em;
}